Repository oranolio956/MetzlerCares: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(seo): update og image with new tagline and remove mascot
  scripts/generate-og-image.cjs
  static/og-image.png
Due: none

feat(content): update site content to reflect new service model
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/faq/+page.svelte
  src/routes/get-aid/+page.svelte
  src/routes/partners/+page.svelte
Due: eslint --fix, prettier --write

feat: Add comprehensive website index documentation
  WEBSITE_INDEX.md
Due: prettier --write

chore: remove all markdown files except WEBSITE_INDEX.md
  CHANGELOG.md
  COLORADO-FACILITIES-IMPORT-README.md
  COLORADO_SEO_IMPLEMENTATION.md
  COLORADO_SEO_MISSION_COMPLETE.md
  Copy of Colorado Rehab, Detox, Sober Living, AA.md
  DEPLOYMENT-CHECKLIST.md
  DEPLOYMENT-GUIDE.md
  DEPLOYMENT_GUIDE.md
  DEPLOY_CHECKLIST.md
  DESIGN_AUDIT_REPORT.md
  FINAL_SEO_SYSTEM_SUMMARY.md
  HANDOFF_PROMPT.md
  HIPAA_BREACH_RESPONSE_PLAN.md
  HIPAA_DATA_RETENTION_POLICY.md
  HIPAA_SECURITY_RISK_ASSESSMENT.md
  README-RLS.md
  README.md
  SEO_COMPREHENSIVE_REVIEW.md
  SEO_STRATEGY_UNDERGROUND.md
  TECHNICAL_AUDIT_REPORT.md
  VERCEL_CONFIGURATION_CHECKLIST.md
  VERCEL_DEPLOYMENT_CHECKLIST.md
  VERCEL_PRODUCTION_VALIDATION.md
  WORLD_CLASS_SEO_IMPLEMENTATION.md
  Website Audit and Improvement Plan.md
Due: prettier --write

feat: Implement Google Indexing API with service accounts
  .env.example
  GOOGLE_API_STATUS.md
  GOOGLE_INDEXING_API_SETUP.md
  src/lib/utils/colorado-indexing-api.ts
  src/lib/utils/google-indexing-api-fixed.ts
  src/routes/api/seo/test-indexing/+server.ts
Due: eslint --fix, prettier --write

Refactor: Update website to Metzler Cares branding and tech focus
  src/lib/components/Footer.svelte
  src/lib/components/Navigation.svelte
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/careers/+page.svelte
  src/routes/investors/+page.svelte
  src/routes/partners/+page.svelte
  src/routes/partners/dashboard/+layout.server.ts
  src/routes/partners/facility-network/+page.server.ts
  src/routes/partners/facility-network/+page.svelte
  src/routes/solutions/+page.svelte
Due: eslint --fix, prettier --write

Tech-first transformation: Rebrand to Metzler Cares, new B2B pages (Platform, Investors, Careers), and legal updates
  package-lock.json
  src/app.css
  src/app.html
  src/lib/MetzlerBridgeLogo.svelte
  src/lib/components/Navigation.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/app/connect/+page.svelte
  src/routes/careers/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/investors/+page.svelte
  src/routes/partners/+page.svelte
  src/routes/platform/+page.svelte
  src/routes/portal/referral/+page.svelte
  src/routes/privacy/+page.svelte
  src/routes/terms/+page.svelte
  tailwind.config.js
Due: eslint --fix, prettier --write

Fix build error: Escape invalid HTML character in referral portal
  package-lock.json
  src/routes/portal/referral/+page.svelte
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  docs/REDESIGN_PROPOSAL.md
Due: prettier --write

Refactor: Implement new branding and animations for homepage
  package-lock.json
  package.json
  src/app.html
  src/lib/components/RecoveryBackground.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  tailwind.config.js
Due: eslint --fix, prettier --write

Refactor: Update UI and animations for recovery-themed pages
  src/lib/components/Navigation.svelte
  src/routes/about/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/impact/+page.svelte
  src/routes/partners/+page.svelte
  src/routes/platform/+page.svelte
Due: eslint --fix, prettier --write

Refactor: Update global styles and component theming
  src/app.css
  src/lib/components/Navigation.svelte
  src/lib/components/RecoveryBackground.svelte
  src/lib/components/ui/WizardForm.svelte
Due: eslint --fix, prettier --write

Refactor: Update page structure and animations
  src/lib/components/RecoveryBackground.svelte
  src/routes/careers/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/investors/+page.svelte
  src/routes/sitemap.xml/+server.ts
Due: eslint --fix, prettier --write

fix: Restore Google Indexing API simulation mode fix on reverted codebase
  src/lib/utils/google-indexing-api-fixed.ts
Due: eslint --fix, prettier --write

Refactor: Update fonts and hero section content
  src/app.css
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

feat: Add Storybook and update ESLint config
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/tsconfig.json
  eslint.config.js
  package-lock.json
  package.json
  playwright-report/index.html
  src/stories/Homepage.stories.ts
  test-results/.last-run.json
  tests/e2e/responsive-layout.spec.ts
Due: eslint --fix, prettier --write

Refactor: Update fonts and color palette
  package-lock.json
  package.json
  src/app.css
  src/routes/+page.svelte
  tailwind.config.js
Due: eslint --fix, prettier --write

Refactor: Extract homepage sections into components
  src/lib/components/homepage/CredibilitySection.svelte
  src/lib/components/homepage/CtaSection.svelte
  src/lib/components/homepage/HeroSection.svelte
  src/lib/components/homepage/OperatingBlueprintSection.svelte
  src/lib/components/homepage/OutcomesSection.svelte
  src/lib/content/homepage.ts
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

Refactor analytics tracking and improve SEO analysis
  src/lib/components/premium/PremiumLeadCapture.svelte
  src/lib/utils/advanced-seo-analytics.ts
  src/lib/utils/analytics.ts
Due: eslint --fix, prettier --write

feat: Add Storybook stories for homepage components
  src/stories/CredibilitySection.stories.ts
  src/stories/CtaSection.stories.ts
  src/stories/HeroSection.stories.ts
  src/stories/OperatingBlueprintSection.stories.ts
  src/stories/OutcomesSection.stories.ts
Due: eslint --fix, prettier --write

Refactor: Improve UI components and add accessibility features
  src/lib/components/Navigation.svelte
  src/lib/components/ui/WizardForm.svelte
  src/routes/app/connect/+page.svelte
  src/routes/portal/referral/+page.svelte
Due: eslint --fix, prettier --write

Refactor: Add motion-reduce styles for accessibility
  src/lib/components/homepage/CtaSection.svelte
  src/lib/components/homepage/HeroSection.svelte
  src/lib/components/homepage/OperatingBlueprintSection.svelte
Due: eslint --fix, prettier --write

Refactor: Add controls and argTypes to storybook stories
  src/stories/CredibilitySection.stories.ts
  src/stories/CtaSection.stories.ts
  src/stories/HeroSection.stories.ts
  src/stories/Homepage.stories.ts
  src/stories/OperatingBlueprintSection.stories.ts
  src/stories/OutcomesSection.stories.ts
Due: eslint --fix, prettier --write

Refactor: Improve homepage content and structure
  .github/workflows/visual-regression.yml
  src/lib/components/NewsletterSignup.svelte
  src/lib/components/homepage/CredibilitySection.svelte
  src/lib/components/homepage/CtaSection.svelte
  src/lib/components/homepage/HeroSection.svelte
  src/lib/components/homepage/OperatingBlueprintSection.svelte
  src/lib/components/homepage/OutcomesSection.svelte
  src/lib/components/icons/IconSymbol.svelte
  src/lib/components/premium/PremiumHero.svelte
  src/lib/content/homepage.ts
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/stories/Homepage.stories.ts
Due: eslint --fix, prettier --write

docs: Add project state documentation
  project_state.md
Due: prettier --write

Checkpoint before follow-up message
  .github/workflows/visual-regression.yml
  README.md
  docs/architecture.md
  package-lock.json
  package.json
  playwright-report/index.html
  project_state.md
  sanity-studio/schemas/index.ts
  src/app.d.ts
  src/hooks.server.ts
  src/lib/components/homepage/CredibilitySection.svelte
  src/lib/components/homepage/HeroMedia.svelte
  src/lib/components/homepage/HeroSection.svelte
  src/lib/components/homepage/LocaleSwitcher.svelte
  src/lib/components/homepage/OperatingBlueprintSection.svelte
  src/lib/components/homepage/OutcomesSection.svelte
  src/lib/content/homepage.ts
  src/lib/utils/viewport.ts
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/stories/Homepage.stories.ts
  static/assets/hero-bg.avif
  static/assets/hero-bg.webp
  static/assets/hero-orbit.json
Due: eslint --fix, prettier --write

Checkpoint before follow-up message
  playwright-report/index.html
Due: none

Remove unnecessary peer: true flags from package-lock.json
  sanity-studio/package-lock.json
  vercel-build-system/package-lock.json
Due: prettier --write

Refactor: Update UI with design tokens and improve error handling
  src/lib/components/homepage/CredibilitySection.svelte
  src/lib/components/homepage/CtaSection.svelte
  src/lib/components/homepage/HeroSection.svelte
  src/lib/components/homepage/OperatingBlueprintSection.svelte
  src/lib/components/homepage/OutcomesSection.svelte
  src/lib/utils/security.ts
  src/routes/+error.svelte
  src/routes/+page.svelte
  src/routes/api/security/events/+server.ts
Due: eslint --fix, prettier --write

Refactor: Update branding and UI elements to metzlercares.com
  docs/api.md
  docs/deployment.md
  scripts/setup-deployment.ps1
  src/lib/components/Navigation.svelte
  src/routes/(beneficiary)/portal/+page.svelte
  src/routes/(beneficiary)/portal/privacy/+page.svelte
  src/routes/+error.svelte
  src/routes/accessibility/+page.svelte
  src/routes/account/mfa/+page.svelte
  src/routes/contact/+page.server.ts
  src/routes/contact/+page.svelte
  src/routes/cookie-policy/+page.svelte
  src/routes/dmca/+page.svelte
  src/routes/faq/+page.svelte
  src/routes/get-aid/success/+page.svelte
  src/routes/give-support/+page.svelte
  src/routes/resources/[slug]/+page.svelte
  src/routes/resources/colorado/+page.svelte
  src/routes/stories/+page.svelte
Due: eslint --fix, prettier --write

Refactor: Remove duplicate markdown documents
  .trae/documents/Audit & Upgrade_ Colorado Rehab SEO Pages.md
  .trae/documents/Colorado Sober Living SEO Domination Plan.md
  .trae/documents/Design Updates Implementation Plan.md
  .trae/documents/End‑to‑End Plan_ Colorado Sober Living SEO (Quality-First, Fast Ranking).md
  .trae/documents/Finalize SSR, SEO, Performance, and Security Enhancements.md
  .trae/documents/Full-Site Polish, Security, UX, and Dashboard Enhancements.md
  .trae/documents/Homepage System Revamp_ Error UX, Design Standardization, Resources, Blog Loading, Mobile Menu.md
  .trae/documents/Integrate Real Impact Story from Sanity into Impact Page.md
  .trae/documents/MetzlerCares 100‑Point Frontend + Backend Technical Audit.md
  .trae/documents/Mobile and Responsive UX Audit Across All Pages.md
  .trae/documents/Point Domain to metzlercares.com and Complete Brand_UX Refinements.md
  .trae/documents/Retrieve Audit PDF and Implement Website Improvements.md
  .trae/documents/Stabilize MetzlerCares And Verify End‑to‑End.md
  .trae/documents/UX Audit and Priority Improvements for MetzlerCares.md
  .trae/documents/comprehensive_seo_audit_report.md
  .trae/documents/healthcare-competitive-analysis.md
  .trae/documents/metzlercares_prd.md
  .trae/documents/metzlercares_technical_architecture.md
  .trae/documents/seo_implementation_roadmap.md
  .trae/documents/seo_research_colorado_rehab_strategy.md
  docs/tasks/current.md
Due: prettier --write

Remove current tasks documentation
  docs/tasks/current.md
Due: prettier --write

Refactor homepage content to reflect new product offerings
  src/lib/content/homepage.ts
Due: eslint --fix, prettier --write

Refactor: Add subtle grid background and improve section spacing
  src/routes/+page.svelte
  static/assets/grid.svg
Due: eslint --fix, prettier --write

Feat: Add global security headers (CSP, HSTS, Permissions-Policy)
  src/hooks.server.ts
Due: eslint --fix, prettier --write

Sec: Standardize JWT verify/sign with djwt in edge functions
  supabase/functions/generate-partner-update-token/index.ts
  supabase/functions/submit-outcome-update/index.ts
Due: eslint --fix, prettier --write

Sec: Add lightweight rate limiting to public edge functions
  supabase/functions/_shared/rateLimit.ts
  supabase/functions/generate-partner-update-token/index.ts
  supabase/functions/submit-outcome-update/index.ts
Due: eslint --fix, prettier --write

Perf: Optimize image loading (LCP eagerness, dimensions)
  src/lib/components/homepage/HeroMedia.svelte
  src/lib/components/premium/PremiumHero.svelte
  src/lib/components/ui/WizardForm.svelte
  src/routes/insurance/[provider]/+page.svelte
Due: eslint --fix, prettier --write

SEO: Expand sitemap with Sanity dynamic routes
  src/routes/sitemap.xml/+server.ts
Due: eslint --fix, prettier --write
